<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}">

</header>

<h1> WELCOME </h1>

<!--<nav class="crumbs">-->
<!--    <ol>-->
<!--        <li class="crumb">Home</li>-->
<!--    </ol>-->
<!--</nav>-->

<!--<ul>-->
<!--    <li><a th:href="@{/info}"> Info </a></li>-->
<!--    <li><a th:href="@{/calculate}"> Calculator </a></li>-->
<!--</ul>-->

<!--<form action="/user/" method="post">-->
<!--    <label>-->
<!--        <input th:name="username" th:id="username" th:type="text" th:value="${username}" hidden/>-->
<!--    </label>-->
<!--    <button type="submit" class="btn w3-btn btn-default"><h6>send request</h6></button>-->
<!--</form>-->
</body>
</html>