<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}">

</header>

<h1> INFO PAGE </h1>

<!--<nav class="crumbs">-->
<!--    <ol>-->
<!--        <li class="crumb"><a th:href="@{/}"> Home </a></li>-->
<!--        <li class="crumb">Info</li>-->
<!--    </ol>-->
<!--</nav>-->
</body>
</html>