<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:fragment="navbar">
    <nav>
        <ul>
            <li>
                <a th:href="@{/}"> Home </a>
            </li>
            <li>
                <a th:href="@{/info}"> Info </a>
            </li>
            <li>
                <a th:href="@{/calculator?plantType=null}"> Calculator </a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>